.contact-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.contact-box h1{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:blueviolet;
    text-shadow: 1px 1px 1px rebeccapurple;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.form-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-box input {
    padding: 5px 10px;
}